<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Spring Boot - Angular Application</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/fontawesome.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body class="bg">
        <div class="container-fluid p-2">
            <h1 class="h1 text-center text-light font-italic"><%= Title %> Results</h1>
        </div>
        <div class="container p-2">
            <div class="row">
                <div class="col-md-12">
                    <table class="table bg-light table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                 <% for(var j=0; j < columnHeader.length; j++) { %>
                                    <th class="text-center"><%= columnHeader[j] %></th>
                                <% } %>  
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < search.length; i++) { %>
                            <tr>                                
                                <% for(var j=0; j < symbolicName.length; j++) { %>
                                    <% if (search[i][symbolicName[j]].includes('https://') || search[i][symbolicName[j]].includes('http://')) { %>
                                        <th class="text-center"><a class='url' id='url' target='_blank' href='<%= search[i][symbolicName[j]] %>'><%= search[i][symbolicName[j]] %></a></th>
                                    <%} else { %>
                                        
                                        <th class="text-center"><%= search[i][symbolicName[j]] %></th>
                                    <% } %>
                                <% } %>                               
                            </tr>  
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="file:///C:/Users/761104/OneDrive%20-%20Cognizant/Desktop/caseSearch.html" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="file:///C:/Users/761104/OneDrive%20-%20Cognizant/Desktop/caseSearch.html">1</a></li>
                <li class="page-item"><a class="page-link" href="file:///C:/Users/761104/OneDrive%20-%20Cognizant/Desktop/caseSearch.html">2</a></li>
                <li class="page-item"><a class="page-link" href="file:///C:/Users/761104/OneDrive%20-%20Cognizant/Desktop/caseSearch.html">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="file:///C:/Users/761104/OneDrive%20-%20Cognizant/Desktop/caseSearch.html" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </body>
    <!-- <script>
            var a = document.getElementById("url");
            var href = document.getElementById("url").getAttribute("href");
            a.onclick = function(href){
                open(href);
            }
            function open(url){
                return window.open(url);
            }
    </script> -->
</html>